<nav class="">
  <!-- <header>
    <a routerLink="/dashboard" class="navbar-brand">
      <img src="../../assets/lol.png" alt="" />
    </a>
  </header> -->
  <div class="menu-bar">
    <div class="menu">
      <li class="nav-link">
        <a href="#" routerLinkActive="active" routerLink="/dashboard">
          <i class="bx bxs-home icon"></i>
          <span class="text nav-text">Accueil</span>
        </a>
      </li>
      <li class="nav-link">
        <a href="#" routerLinkActive="active" routerLink="/idee">
          <i class="bx bx-bulb icon"></i>
          <span class="text nav-text">Idees</span>
        </a>
      </li>
      <li class="nav-link">
        <a href="#" routerLinkActive="active" routerLink="/vocal">
          <i class="bx bx-microphone icon"></i>
          <span class="text nav-text">Vocal</span>
        </a>
      </li>
      <li class="nav-link">
        <a href="#" routerLinkActive="active" routerLink="/commentaire">
          <i class="bx bx-message icon"></i>
          <span class="text nav-text">Commentaire</span>
        </a>
      </li>
      <li class="nav-link">
        <a href="#" routerLinkActive="active" routerLink="/utilisateur">
          <i class="bx bxs-user-circle icon"></i>
          <span class="text nav-text">Utilisateurs</span>
        </a>
      </li>
    </div>
  </div>
</nav>
