<div class="container-fluid" style="overflow: hidden">
  <div class="row flex-nowrap">
    <div
      id="sidebar"
      class="col-auto sidebar collapse collapse-horizontal show"
      *ngIf="menuBureau"
      style="height: 100vh"
    >
      <app-menu></app-menu>

    </div>
    <main
      class="col"
      style="height: 100vh; overflow: scroll; overflow-x: hidden"
    >
      <nav
        class="bg-danger navbar navbar-expand bg-light navbar-light sticky-top px-4 py-0"

      >
        <h1 style="width: 20px"></h1>
        <a
          href="#"
          class="sidebar-toggler flex-shrink-0"
          data-bs-toggle="collapse"
          data-bs-target="#sidebar"
          aria-expanded="false"
          (click)="afficheMenuMobile()"
          aria-controls="collapseWidthExample"
        >
          <i class="fa fa-bars"></i>
        </a>

        <div class="d-flex justify-content-end w-100">
          <app-navbar></app-navbar>
        </div>
      </nav>
      <div class="container-fluid pt-4 px-4">
        <div class="row g-4">
          <div class="col-sm-6 col-xl-3">
            <div
              class="bg-light rounded d-flex align-items-center justify-content-between p-4"
            >
              <img
                src="../../assets/ministere2.png"
                height="50"
                width="50"
                style="text-align: center; padding-top: 5px"
                alt=""
                srcset=""
              />
              <div class="ms-3">
                <p class="mb-2">Total Ministere</p>
                <h6 class="mb-0">{{ nbMinis }}</h6>
              </div>
            </div>
          </div>
          <div class="col-sm-6 col-xl-3">
            <div
              class="bg-light rounded d-flex align-items-center justify-content-between p-4"
            >
              <img
                src="../../assets/idee1.png"
                height="50"
                width="50"
                style="text-align: center; padding-top: 5px"
                alt=""
                srcset=""
              />
              <div class="ms-3">
                <p class="mb-2">Total Idees</p>
                <h6 class="mb-0">{{ nbIdee }}</h6>
              </div>
            </div>
          </div>
          <div class="col-sm-6 col-xl-3">
            <div
              class="bg-light rounded d-flex align-items-center justify-content-between p-4"
            >
              <img
                src="../../assets/comment.png"
                height="50"
                width="50"
                style="text-align: center; padding-top: 5px"
                alt=""
                srcset=""
              />
              <div class="ms-3">
                <p class="mb-2">Total Commentaires</p>
                <h6 class="mb-0">{{ nbComment }}</h6>
              </div>
            </div>
          </div>
          <div class="col-sm-6 col-xl-3">
            <div
              class="bg-light rounded d-flex align-items-center justify-content-between p-4"
            >
              <i class="bx bxs-user-circle fa-3x" style="color: black"></i>
              <div class="ms-3">
                <p class="mb-2">Total Utilisateur</p>
                <h6 class="mb-0">{{ nbUser }}</h6>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div
        class="row re"
        style="margin-left: auto; margin-right: auto; margin-top: 10px"
      >
        <div class="col d-flex justify-content-between">
          <!-- Button trigger modal -->
          <button
            type="submit"
            class="ajout"
            data-bs-toggle="modal"
            data-bs-target="#staticBackdrop"
            style="height: 40px"
          >
            Ajouter Ministere
          </button>

          <button
            type="submit"
            class="ajout"
            data-bs-toggle="modal"
            data-bs-target="#staticBackdrop1"
            style="height: 40px"
          >
            Ajouter Gros Mots
          </button>

          <!-- Modal -->
          <div
            class="modal fade"
            id="staticBackdrop1"
            data-bs-backdrop="static"
            data-bs-keyboard="false"
            tabindex="-1"
            aria-labelledby="staticBackdropLabel"
            aria-hidden="true"
          >
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="staticBackdropLabel">
                    Ajout de Gros Mots
                  </h5>
                  <button
                    type="button"
                    class="btn-close"
                    data-bs-dismiss="modal"
                    aria-label="Close"
                  ></button>
                </div>
                <div class="modal-body">
                  <div class="form">
                    <div class="input-box">
                      <Label>Mot <span style="color: red;">*</span></Label>
                      <input
                        type="text"
                        class="form-control"
                        name="word"
                        id="word"
                        placeholder="Entrer le Gros mots"
                        [(ngModel)]="word"
                        required
                      />
                    </div>
                  </div>
                </div>
                <div class="modal-footer">
                  <button
                    type="button"
                    class="btn-secondary"
                    data-bs-dismiss="modal"
                  >
                    Annuler
                  </button>
                  <button
                    type="button"
                    class="btn-primary"
                    (click)="ajouterGrosMots()"
                  >
                    Ajouter
                  </button>
                </div>
              </div>
            </div>
          </div>

             <!-- Modal de modif -->
             <div
             class="modal fade"
             id="staticBackdrop2"
             data-bs-backdrop="static"
             data-bs-keyboard="false"
             tabindex="-1"
             aria-labelledby="staticBackdropLabel"
             aria-hidden="true"
           >
             <div class="modal-dialog">
               <div class="modal-content">
                <form
                #update="ngForm"
                (ngSubmit)="popUpModif(id_ministere, update.value.image, update.value.libelle, update.value.description)"
              >
                 <div class="modal-header">
                   <h5 class="modal-title" id="staticBackdropLabel">
                     Modification de Ministere
                   </h5>
                   <button
                     type="button"
                     class="btn-close"
                     data-bs-dismiss="modal"
                     aria-label="Close"
                   ></button>
                 </div>
                 <div class="modal-body">
                  <div class="form-group">
                  
                     <div class="input-box">
                       <Label>Ajouter image <span style="color: red;">*</span></Label>
                       <input
                         type="file"
                         placeholder="Logo.jpg"
                         id="image"
                         name="image"
                         (change)="recuperationImageMinistere($event)"
                         class="form-control"
                         accept="image/png, image/jpeg, image/jpg"
                         ngModel="{{ image }}"
                         required
                       />
                     </div>
                  </div>
                  <div class="form-group">
                     <div class="input-box">
                       <span> Libelle <span style="color: red;">*</span></span>
                       <input
                         type="text"
                         class="form-control"
                         name="libelle"
                         id="libelle"
                         placeholder="Donner le nom du ministère"
                      
                         ngModel="{{ libelle }}"
                         
                         required
                       />
                     </div>
                  </div>
                  <div class="form-group">
                     <div class="input-box">
                       <span> Description <span style="color: red;">*</span></span>
                       <textarea
                         type="text"
                         class="form-control"
                         name="description"
                         id="description"
                         placeholder="Donner une petite description du ministère"
                      
                         ngModel="{{ description }}"
                         required
                       ></textarea>
                     </div>
                   </div>
                 </div>
                 <div class="modal-footer">
                   <button
                     type="button"
                     class="btn-secondary"
                     data-bs-dismiss="modal"
                   >
                     Annuler
                   </button>
                   <button
                     type="submit"
                     class="btn-primary"
                   >
                     Actualiser
                   </button>
                 </div>
                </form>
               </div>
             </div>
           </div>

          <!-- Modal -->
          <div
            class="modal fade"
            id="staticBackdrop"
            data-bs-backdrop="static"
            data-bs-keyboard="false"
            tabindex="-1"
            aria-labelledby="staticBackdropLabel"
            aria-hidden="true"
          >
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="staticBackdropLabel">
                    Création de Ministere
                  </h5>
                  <button
                    type="button"
                    class="btn-close"
                    data-bs-dismiss="modal"
                    aria-label="Close"
                  ></button>
                </div>
                <div class="modal-body">
                  <div class="form">
                    <div class="input-box">
                      <Label>Ajouter image <span style="color: red;">*</span></Label>
                      <input
                        type="file"
                        placeholder="Logo.jpg"
                        id="logo"
                        name="image"
                        (change)="recuperationImageMinistere($event)"
                        class="form-control"
                        accept="image/png, image/jpeg, image/jpg"
                        required
                      />
                    </div>
                    <div class="input-box">
                      <Label> Libelle<span style="color: red;">*</span></Label>
                      <input
                        type="text"
                        class="form-control"
                        name="libelle"
                        id="libelle"
                        placeholder="Donner le nom du ministère"
                        [(ngModel)]="libelle"
                        required
                      />
                    </div>
                    <div class="input-box">
                      <Label> Description <span style="color: red;">*</span></Label>
                      <textarea
                        type="text"
                        class="form-control"
                        name="description"
                        id="description"
                        placeholder="Donner une petite description du ministère"
                        [(ngModel)]="description"
                        required
                      ></textarea>
                    </div>
                  </div>
                </div>
                <div class="modal-footer">
                  <button
                    type="button"
                    class="btn-secondary"
                    data-bs-dismiss="modal"
                  >
                    Annuler
                  </button>
                  <button
                    type="button"
                    class="btn-primary"
                    (click)="ajouterMinistere()"
                  >
                    Ajouter 
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div
        class="container-fluid pt-4 px-4"
        style="margin-left: -2.2%; width: 104%"
      >
        <div class="row g-4">
          <div class="col-sm-12 col-xl-8">
            <div class="bg-light text-center rounded p-4">
              <div class="d-flex justify-content-between">
                <div
                  class="d-flex align-items-center justify-content-between mb-4"
                >
                  <h6 class="mb-0 py-1">La liste des ministères</h6>
                </div>
                <div class="col-md-4">
                  <div class="d-none d-md-flex ms-4">
                    <i class="bx bx-search icon fa-2x py-1"></i>
                    <input
                      class="form-control border-0 border-2 border-start border-end border-alert"
                      type="search"
                      placeholder="Rechercher..."
                      [(ngModel)]="searchText"
                    />
                  </div>
                </div>
              </div>
              <div class="header_fixed py-2">
                <table>
                  <thead>
                    <tr>
                      <th>No.</th>
                      <th>Image</th>
                      <th>Libelle</th>
                      <th>Description</th>
                      <th>Action</th>

                      <!-- <th>Action</th> -->
                    </tr>
                  </thead>
                  <tbody>
                    <tr
                      *ngFor="
                        let minist of ministere
                          | paginate : { itemsPerPage: 6, currentPage: p }
                          | filter : searchText;
                        let i = index
                      "
                    >
                      <td>{{ i + 1 }}</td>
                      <td><img src="{{ minist.image }}" alt="" /></td>
                      <td>{{ minist.libelle }}</td>
                      <td>{{ minist.description }}</td>
                      <td>
                        <div class="col" style="display: flex">
                          <i
                          data-bs-toggle="modal"
                            data-bs-target="#staticBackdrop2"
                         (click)="lireMinistereById(minist.id_ministere)"
                            class="bi bi-pencil-square i"
                            style="color: rgb(58, 190, 31); font-size: 20px"
                          >
                          </i>
                          &nbsp; &nbsp; &nbsp; &nbsp;
                          <i
                            (click)="supprimer(minist.id_ministere)"
                            class="bi bi-trash3"
                            style="color: red; font-size: 20px"
                          >
                          </i>
                        </div>
                      </td>
                      <!-- <td><button>View</button></td> -->
                    </tr>
                  </tbody>
                </table>
              </div>
              <div class="pag">
                <pagination-controls
                  (pageChange)="p = $event"
                  nextLabel="Suivants"
                  previousLabel="Précedents"
                  [responsive]="responsive"
                ></pagination-controls>
              </div>
            </div>
          </div>
          <div class="col-sm-12 col-xl-4">
            <div class="bg-light text-center rounded">
              <div class="h-100 bg-light rounded p-3">
                <div
                  class="d-flex align-items-center justify-content-between mb-2"
                >
                  <h6 class="mb-0">Liste des gros mots</h6>
                </div>

                <div class="d-flex align-items-center border-bottom py-2">
                  <div class="w-100 ms-3" >
                    <div class="d-flex w-100 justify-content-between" *ngFor="let word of word | paginate : { itemsPerPage: 12, currentPage: m , id:'test1'}">
                      <h6 class="mb-0">{{word.word}}</h6>
                      <i
                      (click)="supprimerGro(word.id)"
                      class="bi bi-trash3"
                      style="color: red; font-size: 20px"
                    >
                    </i>
                    </div>
                  </div>
                </div>
                <div class="pag">
                  <pagination-controls
                    (pageChange)="m = $event"
                    nextLabel="Suivants" 
                    id="test1"
                    previousLabel="Précedents"
                    [responsive]="responsive"
                  ></pagination-controls>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <app-footer></app-footer>
    </main>
  </div>
</div>
